<%# app/views/dashboards/index.html.erb %>

<h1>Your Dashboard</h1>
<% if user_signed_in? %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, 'data-turbo': "false" %>
  <%= link_to "Edit Profile", edit_user_registration_path %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Log in", new_user_session_path %>
<% end %>
