<%# app/views/devise/mailer/email_changed.html.erb %>

<p><%= @email %>さん、こんにちは！</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが<%= @resource.unconfirmed_email %>に変更されることをお知らせします。</p>
<% else %>
  <p>メールアドレスが<%= @resource.email %>に変更されました。</p>
<% end %>
